<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина - AROY AROY</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'menu/css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body class="bg-white font-sans">
    {% include 'menu/common_header.html' %}

    <div class="container mx-auto p-10 pt-24">
        <h2 class="text-3xl font-bold mb-5 text-center text-red-700">Ваша Корзина</h2>
        {% if cart_items %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            {% for item in cart_items %}
            <div class="bg-white shadow-md rounded-lg p-5">
                <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'menu/images/default.jpg' %}{% endif %}" alt="{{ item.product.name }}" class="w-full rounded-md mb-4">
                <h3 class="text-xl font-semibold text-red-700">{{ item.product.name }}</h3>
                <p class="text-gray-700">{{ item.product.description }}</p>
                <p class="text-red-700 font-bold mt-2">{{ item.product.price }} руб.</p>
                <div class="flex items-center justify-center mt-4">
                    <button class="bg-green-500 text-white px-3 py-1 rounded plus-button">+</button>
                    <input type="number" value="{{ item.quantity }}" min="1" class="quantity-input w-16 text-center mx-2 border border-gray-300 rounded" readonly>
                    <button class="bg-red-500 text-white px-3 py-1 rounded minus-button">-</button>
                </div>
                <div class="mt-4">
                    <a href="{% url 'add_to_cart' product_id=item.product.id %}" data-url="{% url 'add_to_cart' product_id=item.product.id %}" class="bg-green-500 text-white px-4 py-2 rounded add-to-cart">Добавить в корзину</a>
                </div>
                <div class="mt-2">
                    <a href="{% url 'remove_from_cart' product_id=item.product.id %}" class="bg-red-500 text-white px-4 py-2 rounded">Удалить из корзины</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-10 text-center">
            <a href="{% url 'menu' %}" class="bg-red-700 text-white px-6 py-3 rounded-lg">Продолжить покупки</a>
            <button id="open-checkout-modal" class="bg-green-700 text-white px-6 py-3 rounded-lg ml-4">Оформить заказ</button>
        </div>

        <!-- Checkout Modal -->
        {% include 'menu/checkout_modal.html' %}

        {% else %}
        <p class="text-center text-gray-700">Ваша корзина пуста. Пожалуйста, добавьте блюда из меню.</p>
        <div class="mt-10 text-center">
            <a href="{% url 'menu' %}" class="bg-red-700 text-white px-6 py-3 rounded-lg">Перейти в меню</a>
        </div>
        {% endif %}
    </div>
    {% include 'menu/common_footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Открытие модального окна оформления заказа
            const openModalButton = document.getElementById('open-checkout-modal');
            const checkoutModal = document.getElementById('checkout-modal');
            const closeModalButton = document.getElementById('close-checkout-modal');

            if (openModalButton && checkoutModal) {
                openModalButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    checkoutModal.classList.remove('hidden');
                });
            }

            // Закрытие модального окна оформления заказа
            if (closeModalButton && checkoutModal) {
                closeModalButton.addEventListener('click', function() {
                    checkoutModal.classList.add('hidden');
                });
            }
        });
    </script>
</body>
</html>
